<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/show.css'>
<!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->

</head>
<body>

<p>user can add the picture in there</p>


<div class="card mb-3" style="width: 100%;">
    <div class="card-header">search</div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" style="display:flex;justify-content:space-between;align-items:center;">
            <form class="form-inline" enctype="multipart/form-data" action="/product/search" method="GET">

                <select class="form-control mx-2" name="category" id="category">
                    <option value="name_search">name</option>
                    <option value="B">data</option>
                    <option value="C">categorly</option>
                </select>

                <select class="form-control mx-2" name="name" id="name">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>

                <button type="submit" class="btn btn-primary">search</button>
            </form>
            <div>
                <a href="/product/previous" class="btn btn-success mr-2">next</a>
                <a href="/product/next" class="btn btn-danger">previous</a>
            </div>
        </li>
    </ul>
</div>

<% if (typeof bird !== 'undefined') { %>
    <% for (const name in bird) { %>
        <div class="bird-info">
            <ul>
                <li><strong>Data:</strong> <%= bird[name].name %></li>
                <li><strong>Details:</strong> <%= bird[name].details %></li>
                <li><strong>Location:</strong> <%= bird[name].location %></li>
                <li><strong>Lat:</strong> <%= bird[name].lat %></li>
                <li><strong>Lng:</strong> <%= bird[name].lng %></li>
                <li><strong>Address:</strong> <%= bird[name].addr %></li>

                <li><strong>image:</strong> <img src="/uploads/1680800565871.jpg" alt="Bird Image"></li>
<!--                <img src="<%= bird.img %>" alt="Bird Image">-->

                <a href="/function/birdedit?id=<%= bird._id %>" class="btn btn-success">fixed</a>
                <a href="/function/birddelet?id=<%= bird._id %>" class="btn btn-success">deleted</a>
            </ul>
        </div>
    <% } %>
<% } else { %>
    <p>Bird not found.</p>
<% } %>





<form action="add_picture" method="POST">


    <input type="submit" value="add" ></form>
</form>
<form action="details" method="POST">


    <input type="submit" value="details" ></form>
</form>
<!--<script src="../public/javascripts/birdInformation.js.js"></script>-->


</body>
</html>