<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='/stylesheets/show.css'>
  <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script
          src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
          integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
          crossorigin="anonymous"></script>    <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/geocodeMap.css" />

  <!--    <script type="module" src="javascripts/geocoder.js"></script> -->

  <script type="module" src="javascripts/searchByAddress.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<div class="card mb-3" style="width: 100%;">
<!--  <div class="card-header">search</div>-->
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="display:flex;justify-content:space-between;align-items:center;">
      <form class="form-inline" enctype="multipart/form-data" action="/product/search" method="GET">

        <select class="form-control mx-2" name="category" id="category">
          <option value="name_search">name</option>
          <option value="B">date</option>
          <option value="C">categorly</option>
        </select>

        <select class="form-control mx-2" name="name" id="name">
          <option value="A">Terrestrial birds</option>
          <option value="B">Aquatic birds</option>
          <option value="C">Aerial birds</option>
        </select>

        <button type="submit" class="btn btn-primary">search</button>
      </form>

    </li>
  </ul>
</div>

<div id="geocoder">
  <div id="geocoder-buttons"></div>
  <div id="map"></div>
</div>



<div class="button-container">

  <button id="birdButton">ADD</button>
</div>
<script>

  var birdButton = document.getElementById('birdButton');

  birdButton.addEventListener('click', function() {
    window.location.href = '/bird';
  });
</script>





<div id="birds-list" style="padding: 10px;" >
  <% if (typeof bird !== 'undefined') { %>
    <div class="row">
      <% let i = 0; %>
      <% for (const name in bird) { %>
        <% if (bird[name].inputImg !== null) { %>
          <% let thisID = "bird-info-" + i %>
          <div class="bird-info" id="<%= thisID %>">
            <ul>
              <li><span class="list-title"><strong>Name:</strong></span>
                <span class="list-value"> <%= bird[name].name %> </span></li>
              <li><span class="list-title"><strong>Date:</strong></span>
                <span class="list-value"> <%= bird[name].date %></span></li>
              <!-- Add other fields that you want to display -->

              <li><strong>Image:</strong>
                <div class="image-container">
                  <img src="<%= bird[name].inputImg %>" alt="Bird Image" onclick="showImage('<%= bird[name].inputImg %>')">
                  <div class="image-overlay">
                    <a href="/details?id=<%= bird[name]._id %>" class="btn btn-success">Showing</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        <% } %>
        <% if ((parseInt(name) + 1) % 3 === 0) { %>
    </div><div class="row">
      <% } %>
      <% } %>
    </div>
  <% } else { %>
    <p>Bird not found.</p>
  <% } %>
</div>


<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE2UeJSbO5af-ZqcPD8x-dflXCUWp3ZWY&callback=initMap&v=weekly&region=UK"
        defer
></script>


<script src="../public/javascripts/index.js"></script>

</body>
</html>