<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='/stylesheets/showAll.css'>
  <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script
          src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
          integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
          crossorigin="anonymous"></script>    <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/geocodeMap.css" />

  <!--    <script type="module" src="javascripts/geocoder.js"></script> -->

  <script type="module" src="javascripts/searchByAddress.js"></script>
  <script type="module" src="javascripts/searchOther.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<div class="card mb-3" style="width: 100%;">
  <!--  <div class="card-header">search</div>-->
  <ul class="list-group list-group-flush">
    <li class="search-forms-container">
      <form class="search-forms" id="searchByNameForm">
        <span class="form-title" id="searchByNameTitle">Search by name</span>
        <input type="text" id="searchByNameInput" class="search-by-name" placeholder="Search by name">
      </form>

      <!--<form id="unknownTogglerForm" class="">
        <input type="radio" id="hideUnknown" name="toggleUnknown" value="hideUnknown">
        <label for="hideUnknown">Show only known</label><br>
        <input type="radio" id="onlyUnknown" name="toggleUnknown" value="onlyUnknown">
        <label for="onlyUnknown">Show only unknown</label><br>
        <input type="radio" id="showBoth" name="toggleUnknown" value="both" checked>
        <label for="showBoth">Show both</label>
      </form>-->

      <form class="search-forms" id="searchByDateForm" class="form-inline">
        <span class="form-title" id="searchByDateTitle">Search by Date</span>
        <div class="start-date-group">
          <label for="startDate">Start Date:</label>
          <input type="date" id="startDate" name="start_date" required>
        </div>
        <div class="end-date-group">
          <label for="endDate">End Date:</label>
          <input type="date" id="endDate" name="end_date" required>
        </div>
        <button id="searchByDateBtn" type="submit" class="btn btn-primary">Search</button>
        <button id="resetDateBtn" type="reset" class="btn btn-secondary">Reset</button>
      </form>

      <div class="search-forms double" id="geocoder">
        <span class="form-title" id="mapTitle">Sort by distance from location</span>
        <div id="geocoder-buttons"></div>
        <div id="map"></div>
      </div>

    </li>
  </ul>
</div>

<div class="button-container">
  <button class="btn btn-primary" id="birdButton">Add a Sighting to the Database</button>
</div>
<script>
  var birdButton = document.getElementById('birdButton');
  birdButton.addEventListener('click', function() {
    window.location.href = '/bird';
  });
</script>

<div id="birds-list">
  <% if (typeof bird !== 'undefined') { %>
      <% let i = 0; %>
      <% for (const name in bird) { %>
        <% if (bird[name].inputImg !== null) { %>
          <% let thisID = "bird-info-" + i %>
          <div class="bird-info" id="<%= thisID %>">
            <ul>
              <li class="name"><span class="list-title"><strong>Name:</strong></span>
                <span class="list-value"> <%= bird[name].name %> </span></li>
              <li class="date"><span class="list-title"><strong>Date:</strong></span>
                <span class="list-value"> <%= bird[name].date.toUTCString() %></span></li>
              <!-- Add other fields that you want to display -->

              <li class="lat hidden"><span class="list-title"><strong>Lat:</strong></span>
                <span class="list-value"> <%= bird[name].lat %> </span></li>
              <li class="lng hidden" ><span class="list-title"><strong>Lng:</strong></span>
                <span class="list-value"> <%= bird[name].lng %> </span></li>
              <li class="address hidden"><span class="list-title"><strong>Address:</strong></span>
                <span class="list-value"> <%= bird[name].addr %> </span></li>
              <li class="distance hidden"><span class="list-title"><strong>Distance:</strong></span>
                <span class="list-value"></span></li>
              <!--            <li><span class="list-title"><strong>image:</strong></span>-->


              <li><strong>Image:</strong>
                <div class="image-container">
                  <img src="<%= bird[name].inputImg %>" alt="Bird Image" onclick="showImage('<%= bird[name].inputImg %>')">
                  <a class="image-overlay" href="/details?id=<%= bird[name]._id %>">
                    <button class="btn btn-success">Showing</button>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        <% } %>
      <% i++ %>
      <% } %>
  <% } else { %>
    <p>Bird not found.</p>
  <% } %>
</div>

<script src="../public/javascripts/index.js"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCE2UeJSbO5af-ZqcPD8x-dflXCUWp3ZWY&callback=initMap&v=weekly&region=UK"
        defer
></script>


<script src="/javascripts/index.js"></script>

</body>
</html>