<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='/stylesheets/show.css'>
  <!--    <script type="application/javascript" src="/javascripts/index.js"></script>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>
<body>

<p></p>


<div class="card mb-3" style="width: 100%;">
  <div class="card-header">search</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="display:flex;justify-content:space-between;align-items:center;">
      <form class="form-inline" enctype="multipart/form-data" action="/product/search" method="GET">

        <select class="form-control mx-2" name="category" id="category">
          <option value="name_search">name</option>
          <option value="B">date</option>
          <option value="C">categorly</option>
        </select>

        <select class="form-control mx-2" name="name" id="name">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>

        <button type="submit" class="btn btn-primary">search</button>
      </form>
      <div>
        <a href="/product/previous" class="btn btn-success mr-2">next</a>
        <a href="/product/next" class="btn btn-danger">previous</a>
      </div>
    </li>
  </ul>
</div>

<% if (typeof bird !== 'undefined') { %>
  <% for (const name in bird) { %>
    <div class="bird-info">
      <ul>
        <li><strong>Name:</strong> <%= bird[name].name %></li>
        <li><strong>Date:</strong> <%= bird[name].date %></li>
        <li><strong>Details:</strong> <%= bird[name].details %></li>
        <li><strong>Location:</strong> <%= bird[name].location %></li>
        <li><strong>image:</strong>
          <script>console.log("test")</script>
          <!-- <img src="/uploads/1680800565871.jpg" alt="Bird Image"> -->
          <img src="<%= bird[name].inputImg %>" alt="Bird Image"></li>

        <a href="/details?id=<%= bird[name]._id %>" class="btn btn-success" onclick="showImage('<%= bird[name].inputImg %>')">showing</a>

<!--        <a href="/function/birddelet?id=<%= bird._id %>" class="btn btn-success">deleted</a>-->

<!--        <a href="#" class="btn btn-danger" onclick="deleteBird('<%= bird[name]._id %>', '<%= bird[name].inputImg %>')">Delete</a>-->

      </ul>
    </div>
  <% } %>
<% } else { %>
  <p>Bird not found.</p>
<% } %>


<div class="button-container">
  <form action="add_picture" method="POST">
    <input type="submit" value="Add">
  </form>

</div>
<script>
  function deleteBird(id, imgPath) {
    var xhr = new XMLHttpRequest();
    console.log("id is :")
    console.log(id)

    xhr.open('DELETE', '/bird/delete?id=' + id + '&imgPath=' + imgPath);
    xhr.onload = function() {
      if (xhr.status === 200) {
        console.log('Bird deleted successfully.');
        window.location.reload();
      } else {
        console.log('Error deleting bird.');
      }
    };
    xhr.send();
  }
</script>

<!--<script type="application/javascript" src="/javascripts/deletebird.js"></script>-->
</body>
</html>