<!DOCTYPE html>
<html>
<head>

  <link rel='stylesheet' href='/stylesheets/show.css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>
<body>

<p></p>


<div class="card mb-3" style="width: 100%;">
  <div class="card-header">search</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="display:flex;justify-content:space-between;align-items:center;">
      <form class="form-inline" enctype="multipart/form-data" action="/product/search" method="GET">

        <select class="form-control mx-2" name="category" id="category">
          <option value="name_search">name</option>
          <option value="B">date</option>
          <option value="C">categorly</option>
        </select>

        <select class="form-control mx-2" name="name" id="name">
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>

        <button type="submit" class="btn btn-primary">search</button>
      </form>
      <div>

      </div>
    </li>
  </ul>
</div>


<div class="button-container">
  <form action="add_picture" method="POST">
    <input type="submit" value="Add">
  </form>

</div>

<% if (typeof bird !== 'undefined') { %>
  <div class="row">
    <% for (const name in bird) { %>
      <div class="col-md-4 bird-info">
        <ul>
          <li class="bird-name"><strong>Name:</strong> <%= bird[name].name %></li>
          <li><strong>Date:</strong> <%= bird[name].date %></li>
<!--          <li><strong>Details:</strong> <%= bird[name].details %></li>-->
<!--          <li><strong>Location:</strong> <%= bird[name].location %></li>-->
          <li><strong>Image:</strong>
<!--            <script>console.log("test")</script>-->
            <div class="image-container">
              <img src="<%= bird[name].inputImg %>" alt="Bird Image" onclick="showImage('<%= bird[name].inputImg %>')">
              <div class="image-overlay">
                <a href="/details?id=<%= bird[name]._id %>" class="btn btn-success">Showing</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <% if ((parseInt(name) + 1) % 3 === 0) { %>
  </div><div class="row">
    <% } %>
    <% } %>
  </div>
<% } else { %>
  <p>Bird not found.</p>
<% } %>


<script>
  function deleteBird(id, imgPath) {
    var xhr = new XMLHttpRequest();
    console.log("id is :")
    console.log(id)

    xhr.open('DELETE', '/bird/delete?id=' + id + '&imgPath=' + imgPath);
    xhr.onload = function() {
      if (xhr.status === 200) {
        console.log('Bird deleted successfully.');
        window.location.reload();
      } else {
        console.log('Error deleting bird.');
      }
    };
    xhr.send();
  }
</script>

<!--<script type="application/javascript" src="/javascripts/deletebird.js"></script>-->
</body>
</html>